@import '../../../../sass/sass.scss';

.doc-container{
    .doc-head{
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        padding: 0 0 20px 0;
        h2{
            color: $wlib-primary-text;
            @include fontsizeheight(32px,1,26px,1,24px,1);
            font-weight: bold;
        }
    }
    .doc-info{
        border-top: 1px solid #ccc;
        padding-top: 20px;
        .content-image{
            display: flex;
            justify-content: center;
            margin-bottom: 20px;
            img{
                width: 128px;
                height: auto;
            }
        }
        .content-atras{
            display: flex;
            justify-content: center;
            margin-bottom: 20px;
            button{}
        }
    }
}